<FilesMatch "\.js$">
	Deny from all
</FilesMatch>

RewriteEngine On

<FilesMatch "\.(mp3|ogg)$">
	RewriteCond %{HTTP_REFERER} !aeterna-211.web.app/game/misc/get_snd.htm
	RewriteRule ^ - [F]
</FilesMatch>
